---
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: {
		id: string;
		title?: string;
		description?: string;
		publishDate?: Date;
		draft?: boolean;
	};
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
---

<FormattedDate
	class="min-w-30 font-semibold text-gray-600 dark:text-gray-400"
	date={post.publishDate}
/>
<Tag>
	{post.draft && <span class="text-red-500">(Draft) </span>}
	<a class="cactus-link" data-astro-prefetch href={`${import.meta.env.BASE_URL}posts/${post.id}/`}>
		{post.title}
	</a>
</Tag>
{withDesc && <q class="line-clamp-3 italic">{post.description}</q>}
